@using AIMGSM.ViewModels;
@model ContactVM
<section class="page-section" id="faq">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">FAQ</h2>
            <h3 class="section-subheading text-muted">Najczęściej zadawane przez was pytania</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-caption-heading">FAQ 1</div>
                <div class="portfolio-caption-subheading text-muted">Lorem Ipsum</div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-caption-heading">FAQ 1</div>
                <div class="portfolio-caption-subheading text-muted">Lorem Ipsum</div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-caption-heading">FAQ 1</div>
                <div class="portfolio-caption-subheading text-muted">Lorem Ipsum</div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-caption-heading">FAQ 1</div>
                <div class="portfolio-caption-subheading text-muted">Lorem Ipsum</div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-caption-heading">FAQ 1</div>
                <div class="portfolio-caption-subheading text-muted">Lorem Ipsum</div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-caption-heading">FAQ 1</div>
                <div class="portfolio-caption-subheading text-muted">Lorem Ipsum</div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
            <div class="container py-5">
                <div class="text-center">
                <h2 class="section-heading text-uppercase">Skontaktuj się z nami</h2>
                </div>
                <div class="row">
        <div class="col-6">
        <form method="post" action="@Url.Action("Contact","Home")">
            <div class="form-group">
                        <label class="section-subheading text-muted">Temat w jakim się pan/pani kontaktuje</label>
                <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" />
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="section-subheading text-muted">Email do kontaktu</label>
                <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" />
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                        <label class="section-subheading text-muted">Opis tematu/problemu</label>
                <textarea id="Message" name="Message" class="form-control">@Model.Message</textarea>
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
            </div>
        <div class="col-6">
            <ul class="navbar-nav ms-auto flex-row mx-5">
                <li class="nav-item align-text-center me-5"><a class="nav-link mylink text-decoration-none" href="~/Home/Contact">Telefon kontaktowy: +536 886 386</a></li>
            </ul >
                <ul class="navbar-nav ms-auto flex-row mx-5">
                <li class="nav-item"><a class="nav-link mylink text-decoration-none" href="~/Home/Contact">Pon-Pt: 11:00-19:00, Sobota: 11:00-16:00</a></li>
            </ul>
                <ul class="navbar-nav ms-auto flex-row mx-5">
                <li class="nav-item"><a class="nav-link mylink text-decoration-none" href="~/Home/Contact">Email: Aimgsmsupp@gmail.com</a></li>
            </ul>
            <ul class="navbar-nav ms-auto flex-row mx-5">
                <li class="nav-item"><a class="btn btn-dark btn-social mx-2 mylink" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="nav-item"><a class="btn btn-dark btn-social mx-2 mylink" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="nav-item"><a class="btn btn-dark btn-social mx-2 mylink" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="nav-item"><a class="btn btn-dark btn-social mx-2 mylink" href="https://www.instagram.com/aim_gsm/" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item"><a class="btn-social mx-2 mylink" href="#!" aria-label="LinkedIn"><img src="~/assets/img/allegro-custom.svg"></img></a></li>
            </ul>
        </div>
        </div>
    </div>
    
</section>