@using AIMGSM.ViewModels;
@using AIMGSM.Data;
@model IEnumerable<PriceVM>
<header class="page-section bg-black">
    <div class="container text-center">
        <h2 class="masthead-subheading text-uppercase text-light">Wszystkie Serwisy</h2>
        <a class="btn btn-primary btn-sm text-uppercase" href="/Admin/PriceAdd">Dodaj usługe z ceną</a>
    </div>
</header>
<section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">Serwisy :</h2>
        </div>
        <table class="table">
            <tr class="table-primary">
                <th>ID</th>
                <th>Producent</td>
                <th>Model</th>
                <th>Nazwa usługi</th>
                <th>Cena oryginalna / zamiennik</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Brand</td>
                    <td>@item.Model</td>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>@item.OriginalPrice / @item.SecondPrice</td>
                    <td>
                        <form asp-action="PriceDelete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-warning">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>